---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

p {
  padding-right: 15px;
  padding-left: 15px;
}


ul{
    margin:0.5em;
}

////////////////////////////////// playing around with navigation dropdown design


li a, .dropbtn {
  display: inline-block;
  color: #009688;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #009688;
  color: #ffffff;
}

li.dropdown {
  display: inline-block;
}



























////////////////////////////////////////////////

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;
