---
layout: default
---

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>



<br>

<img src='{{site.baseurl}}/assets/epigraphy-info1.jpg' style="width:400px;" alt="Epigraphy.info logo" align="middle">

<br>
<div class="wrapper">
<h2 style="text-align:center;" href="{{site.baseurl}}/documents/MissionStatement.pdf">Mission Statement</h2>


<p class="a" ></a> Epigraphy.info is an international open community pursuing a collaborative environment for digital epigraphy, which facilitates scholarly communication and interaction. We apply <a href="https://www.go-fair.org/fair-principles/" target="blank">FAIR </a> principles to epigraphic information in order to efficiently create, use and share it among researchers, students and enthusiasts around the globe. The Epigraphy.info community works to gather and enhance the many existing epigraphic efforts, and serves as a landing point for digital tools, practices and methodologies for managing collections of inscriptions. See the text of our <a href="{{site.baseurl}}/documents/MissionStatement.pdf">Mission statement.</a></p>

<br>

<p class="a"><em>Key concerns include:</em>
  <ul class="a">
    <li>Identification, creation, and dissemination of agreed-upon guidelines, standards, and best practices;</li>
    <li>Preservation, reuse, and update of existing and emerging datasets providing the most up-to-date versions of inscriptions;</li>
    <li>Providing a toolset for searching, analyzing and editing inscriptions and their metadata by both human and machine;</li>
    <li>Services for citation, revision and exchange.</li>
  </ul>
</p>

<p class="a" >Epigraphy.info will not replace existing digital resources; it intends to be a hub for a fruitful exchange of epigraphic data and digital solutions that will benefit all epigraphers.</p>
 
<br>

<h2 style="text-align:center;" href="href="https://doi.org/10.11588/heidok.00027952">Statement of Intent of the Handling of Unpublished Inscriptions</h2>

<p class="a" >During the fourth epigraphy.info workshop (Feb. 19th - 21st 2020, Hamburg) the community has reached an agreement and issued the <a href="https://doi.org/10.11588/heidok.00027952">Statement of Intent of the Handling of Unpublished Inscriptions</a>.</p>
</div>

<br>
<br>

{% include page_divider.html %}

<h3 style="text-align:center;">Latest news</h3>

<div class="wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
      <div class="post-categories">
      {% if post.categories.size > 0 %}in {% for cat in post.categories %}
        {% if site.jekyll-archives %}
        <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% else %}
        <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% endif %}
      {% endfor %}{% endif %}
      </div>
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
			{% if paginator.page == 2 %}
			<a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
      </a>
			{% else %}
			<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% endif %}
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
	</p>
</nav>

<br>


</div>
</div>


