---
layout: default
---
<div class="wrapper">
  <div class="page abstract-page">

    <style>
      .abstract-page .post-header {
        text-align: center;
      }

      .abstract-page .post-title {
        margin-bottom: 0.6rem;
      }

      .abstract-page .subtitle {
        font-size: 0.95em;
        margin: 0.2rem 0;
      }

      .abstract-page .authors {
        font-size: 1.5em;
        font-weight: 600;
        margin: 0.2rem 0 0.8rem 0;
      }
    </style>


    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.subtitle %}
        <p class="subtitle">{{ page.subtitle }}</p>
      {% endif %}

      {% if page.authors %}
        <p class="authors">{{ page.authors }}</p>
      {% endif %}
    </header>

    {% include page_divider.html %}

    <article class="post-content">
      {{ content }}
    </article>

  </div>
</div>
